@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.cover-image {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.cover-image:hover {
  scale: 102%;
}

.loading {
  width: 172.8px;
  height: 31.7px;
  border-radius: 28.8px;
  color: #10d2eb;
  border: 2.9px solid;
  position: relative;
}

.loading::before {
  content: "";
  position: absolute;
  margin: 2.9px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: progress-pf82op 1.2s infinite;
}

@keyframes progress-pf82op {
  100% {
    inset: 0;
  }
}